body {
  font-family: "Poppins", sans-serif;
}

.logo {
  font-family: "DM Serif Text", sans-serif;
}

.hero__text {
  top: 45%;
  transform: translateY(-45%);
}

.float {
  top: 100%;
  left: 30%;
}

.images__div {
  right: 5%;
  top: 25%;
  z-index: 1;
  border: 7px solid white;
  border-radius: 999px;
}
.image2__div {
  right: 25%;
  top: 20%;
  border: 10px solid white;
  border-radius: 99px;
}
.image3__div {
  right: 17%;
  top: 40%;
}

.pattern1 {
  top: 58%;
  right: 50%;
  z-index: 1000;
}

.section1 {
  top: 100%;
  left: 0;
}
.section__image {
  width: 100px;
  object-fit: contain;
  color: grey;
}
